body{
	width:400px;
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	max-height: 500px;
	white-space: normal;
}

.text-xs-center{
	text-align: center;
}

svg{
	fill:#fff;
	transition: fill .2s linear;
	cursor: pointer;
}

svg:hover{
	fill:#6441a4;
}

.menu {
	background: #17141f;
	max-height:30px;
	height:30px;
	width:100%;
	padding-left:5px;
	padding-right:5px;
	overflow:hidden;
}

.menu__half{
	width:calc(50% - 5px);
	float:left;
}

.menu__half:nth-child(2){
	text-align: right;
}

.menu a{
	text-decoration: none;
	color:#fff;
	transition:color .2s linear;
}

.menu a:hover{
	color:#6441a4;
}

.menu__link{
	display:inline-block;
	margin:0px;
	position: relative;
	top:-5px;
}

.menu a:focus{
	outline:0px;
}

#settings{
	margin:0px;
}

.handler{
	width:100%;
	padding:10px 5px 10px 5px;
}

.handler__title{
	text-align: center;
	margin-top:0px;
	font-family: sans-serif;
	font-size:20px;
	font-weight: 400;
}

.handler__text{
	margin:0px;
    white-space: normal;
}

.handler__text a{
	text-decoration: none;
	color:#6441a4;
	transition: color .2s linear;
}

.handler__text a:hover{
	color:#17141f;
}

.handler__loader{
	margin:0px auto;
	display: block;
}

.handler__text-live{
	color:#fc3636;
}

.handler__text__stream{
	display: block;
	margin:0px auto;
}

.handler__text-button-watch{
    background: #6441a4;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    width: 100%;
    display: block;
    text-align: center;
    transition:all .2s linear;
}

.handler__text-button-watch:hover{
	background:#513584;
}

.handler__text-button-watch:hover + .handler__text__stream{
	background: #000;
}

.footer{
	height:27px;
	background:#17141f;
	max-height: 30px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	width:100%;
}

.footer a{
	margin-left:5px;
}

.footer__social__text {
    display: inline-block;
    margin: 0px;
    color: #fff;
    position: relative;
    top: -3px;
}